* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Red Hat Text', sans-serif;
}

:root {
    --Grayishblue: hsl(237, 18%, 59%);
    --Softred: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);  
    --Darkdesaturatedblue: hsl(236, 21%, 26%);
    --Verydarkblue: hsl(235, 16%, 14%);
    --Verydarkmostlyblackblue: hsl(234, 17%, 12%);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--Verydarkmostlyblackblue);
    background-image: url("../images/bg-stars.svg");
    
    
}

main {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

main h1 {
    color: var(--White);
    font-size: 2.4rem;
    font-weight: 700;
    font-weight: 1.4rem;
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
}

.main-timer {
    width: 90%;
    max-width: 260px;
    margin: 0 auto;
}


.main-card-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: nowrap;
    gap: 10px;
}

.card {
    width: 100%;
    height: 24px;
    position: relative;
    border-radius:  5px;
    background-color: var(--Darkdesaturatedblue);
}

.top {
    filter: brightness(85%);
}

.day::before {
    content: attr(data-content);
    position: absolute;
    color:var(--Softred);
    top: -16px;
    left: calc(32%/2);
    font-size: 2.4rem;
    font-weight: bold;
    filter: brightness();
}

.hours::before {
    content:attr(data-content) ;
    position: absolute;
    color:var(--Softred);
    top: -16px;
    left: calc(60%/2);
    font-size: 2.4rem;
    font-weight: bold;
    filter: brightness();
}

.minutes::before {
    content: attr(data-content);
    position: absolute;
    color:var(--Softred);
    top: -16px;
    left: calc(35%/2);
    font-size: 2.4rem;
    font-weight: bold;
    filter: brightness();
}

.seconds::before {
    content:attr(data-content);
    position: absolute;
    color:var(--Softred);
    top: -16px;
    left: calc(50%/2);
    font-size: 2.4rem;
    font-weight: bold;
    filter: brightness();
}

.timer-tittle {
    margin-top: 5px;
    font-size: 0.4rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--White);
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 10px;
    background-image: url("../images/pattern-hills.svg");
    background-position: -625px;
    background-size: 300% 160%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.social-media {
    margin-top: 30px;
}
.social-media a {
    margin-left: 25px;

}